<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.devgirl.calendar"
      version="0.1.0">
    <name>Calendar</name>
    <description>Sample PhoneGap Calendar Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>
 
 
    <js-module src="www/ipaddress.js" name="ipaddress">
        <clobbers target="window.ipaddress" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ipaddress">
                <param name="android-package" value="org.ward.ipaddress.Ipaddress."/>
            </feature>
        </config-file>
 
        <source-file src="src/android/ipaddress.java" target-dir="src/org/ward/ipaddress" />
     </platform>          
</plugin>